ul,
li {
  list-style-type: none;
}

li {
  padding: 10px;
  border: 2px solid rgb(47, 47, 179);
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(127, 127, 187);
}

li.selected {
  background-color: rgb(47, 47, 179);
  color: white;
}
