<ul>
  <li
    *ngFor="let video of videos"
    (click)="selectVideo(video)"
    [class.selected]="selectedVideo?.id === video.id"
  >
    <app-video-thumbnail [video]="video"></app-video-thumbnail>
  </li>
</ul>
