<ng-container *ngIf="video">
  <img [src]="'https://img.youtube.com/vi/' + video.id + '/hqdefault.jpg'" />
  <div>
    <span>{{ video.title }}</span>
    <span>{{ video.author }}</span>
  </div>
</ng-container>
