<app-video-list
  [videos]="(videoList | async) ?? []"
  [selectedVideo]="(currentVideo | async) ?? undefined"
  (videoSelected)="handleVideoSelected($event)"
></app-video-list>
<app-video-player
  [video]="(currentVideo | async) ?? undefined"
></app-video-player>
<app-stat-filters></app-stat-filters>
